$taskBarBackground: #202022;
$taskBarWindowsButtonBackground: #27282f;
$buttonHoverBackgroundColor: #3b3c42;
$buttonActiveBackgroundColor: #313239;

$borderColor: #7a7b7c;
$iconColor: white;
$fontColor: white;
